.modal-backdrop {
    position: fixed; 
    display: flex; 
    inset: 0; 
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center;
}

.modal-content {
    border-style: solid; 
    border-color: rgb(125, 175, 204);
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    row-gap: 10px;
    font-weight: bold;
    font-size: 14px;
}

.close-modal {
    border-style: solid; 
    border-color: rgb(19, 19, 71);
    border-radius: 15px;
    font-size: 14px;
    padding: 5px;
    width: 60px;
    background-color: rgb(125, 175, 204);
}
